[Unit]
Description=Timer for wildfire smoke operational cycle

[Timer]
OnBootSec=5min
OnUnitActiveSec=3600
Persistent=true

[Install]
WantedBy=timers.target
